/* 
 Modification of tufte-css:
 https://github.com/edwardtufte/tufte-css
 */

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Merriweather');

html { font-size: 12px; }

body { 
    width: 87.5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12.5%;
    font-family: Merriweather, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    color: #313131;
    max-width: 1200px;
    counter-reset: sidenote-counter figure-counter; 
}

h1, h2, h3 {
    font-weight: 400;
    color: #333;
}

#chapter {
    color: #dedede;
    letter-spacing: 0.75rem;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 5.5rem;
}

h1, h2 {
    font-style: italic;
}

h1.title {
     font-size: 3.5rem;
}

h1 { 
     padding-top: 2.5rem;
     font-size: 2.5rem; 
}

h2 {
     padding-top: 2rem;
     font-size: 2rem;
}

p, ol, ul, blockquote { 
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-top: 2rem;
    padding-right: 0;
    vertical-align: baseline;
}

blockquote p { font-style:italic; }

ul, ol, { 
    margin:0; 
    padding:0; 
    padding-left:5%;
}

ul { list-style-type: circle; }

li { padding: 0.5rem 0; }

figure { 
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: 55%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0; 
}

caption {
  font-size: 1.2rem;
}

caption .math, figcaption .math
{
  font-size: 1.1rem;
}

figure.fullwidth figcaption { margin-right: 24%; }

a:link, a:visited {
  text-decoration: none;
  color: #00416A;
  border-bottom:1px solid #00416A;
}

/* Sidenotes, margin notes, figures, captions */
img { max-width: 100%; }

.sidenote, .marginnote, figcaption { 
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative; 
}

figcaption {
    margin-right: -75%;
    width: 55%;
    clear: both;
}

.sidenote-number { counter-increment: sidenote-counter; }

figcaption { counter-increment: figure-counter; }

.sidenote-number:after, .sidenote:before { 
    content: counter(sidenote-counter) " ";
    position: relative;
    vertical-align: baseline; 
}

figcaption:before  { 
    content: "Figure: " counter(figure-counter) " ";
    position: relative;
    vertical-align: baseline;
    clear: right;
    font-size: 1.2rem; 
}

.sidenote-number:after { 
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem; 
}

.sidenote:before { 
    content: counter(sidenote-counter) " ";
    top: -0.5rem; 
}

p, footer, pre { width: 60%; }

ol, ul { width: 55%; }

ul ul, ul ol, ol ul, ol ol { width: 100%; }

div.fullwidth, table.fullwidth { width: 100%; }

.sans { 
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    letter-spacing: .03em; 
}

pre {
    padding:20px;
}

code, pre { 
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.0rem;
    line-height: 1.42;
}

.sans > code { font-size: 1.2rem; }

.marginnote > code, .sidenote > code { font-size: 1rem; }

pre.code { font-size: 0.9rem;
           width: 52.5%;
           margin-left: 2.5%;
           overflow-x: auto; 
}

pre.code.fullwidth { width: 90%; }

.fullwidth { max-width: 90%;
             clear:both; }

/* The default x-height for code is slightly too large in side notes */
.marginnote code, .sidenote code { font-size: 0.9rem; }


#TOC li { margin:0; padding:0; }

#lastupdate { margin-top:2.1rem; }

#refs p { width: 90%; }

table {
    min-width: 400px;
    border-top: 2px solid #555;
    border-bottom: 2px solid #555;
}

th {
    border-bottom: 1px solid #999;
}

td, th {
    font-size: 1.4rem;
    padding: 5px;
    text-align: left;
}
span.newthought { font-variant: small-caps;
                  font-size: 1.2em; }

input.margin-toggle { display: none; }

label.sidenote-number { display: inline; }

label.margin-toggle:not(.sidenote-number) { display: none; }

@media (max-width: 860px) { 
    body { 
        width: 84%;
        padding-left: 8%;
        padding-right: 8%; 
    }
    p, footer { width: 100%; }
    ol, ul, blockquote { width: 95%; }
    pre.code { width: 97%; }
    figure { max-width: 90%; }
    figcaption, figure.fullwidth figcaption { 
        display: block;
        margin-right: 0%;
        float: none;
        width: 100%;
        max-width: none; 
    }
    figure:after { display: none; }
    label.margin-toggle:not(.sidenote-number) { display: inline; }
    .sidenote, .marginnote { display: none; }
    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote { 
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative; 
    }
    label { cursor: pointer; }
    div.table-wrapper, table { width: 85%; }
    img { width: 100%; } 
}
